@import 'var';

body{
    font-family: $fontFamaily;
    background: #263A50;
    overflow: hidden;
}

.header_site{
    font-size: 14px;
    .logo_site{
        padding: 11px 0;
    }
    .menu_site{
        display: flex;
        list-style: none;
        column-gap: 50px;
        padding-left: 0;
        justify-content: end;
        margin-bottom: 0;
        li{
            .menu{
                .main{
                    padding-left: 48px;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 36px;
                        height: 1.5px;
                        background: #fff;
                        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3397d",endColorstr="#ff9153",GradientType=1);
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                    }
                    color: #fff;
                    margin-left: 20%;
                    margin-top: 20%;
                }
            }
            a{
                color: #fff;
                font-size: 14px;
                display: block;
                padding: 8px 12px;
                font-weight: 500;
            }
            a:link {
                text-decoration: none;
                }

            a:visited {
            text-decoration: none;
            }

            a:hover {
            text-decoration: underline;
            }

            a:active {
            text-decoration: underline;
            }
        }
    }
    .language{
        margin-left: 50%;
    }
}

.header_color{
    background: #263A50;
}



#fullpage{
    .section{
        display: table;
        height: 100vh;}
        #section-1{
        .banner_site{
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 150%;
                background: linear-gradient(0deg, #263A50 20.09%, rgba(38, 58, 80, 0) 94.19%);
                bottom: 0;
                left: 0;
                z-index: 1;
                transform: translate(0 , 180px);
                }
            video{
                width: 100%;
                position: absolute;
                background-size: cover;
                
            }
            .banner{
                bottom: 0;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: 11;
                .title{
                    h1{
                        color: #fff;
                        width: 89%;
                    }
                    a{
                        display: flex;
                        gap: 1rem;
                        h3{
                            color: #fff;
                            text-decoration: underline;
                            top: 0;
                            transform: translate(0%,25%);
                            
                        }
                    }
                }
                h2{
                    color: #fff;
                    width: 90%;
                    z-index: 1;
                }
            }
        }
    }
    #section-2{
        z-index: 11;
        display: table;
        height: 100vh;
        .location_site{
            .map{
                video{
                    height: 80vh;
                    margin-top: 12vh;
                }
            }
            .map-text{
                padding: 12vh 0;
                h2{
                    color: #F2655A;
                }
                h3{
                    color: #fff;
                    padding: 15px 0;
                }
                p{
                    color: #fff;
                }
            }
            figure{
                width: 65%;
                position: relative;
                .img-fluid{
                    width: 100%;
                    height: auto;
                }
                .logo{
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(50%,-50%);
                }
            }
        }
    }
    #section-3{
        .overview_site{
             &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 50%;
                background: #263A50;
                bottom: 0;
                left: 0;
                z-index: 1;
                transform: translate(0 , 180px);
                }
            .slider{
                .slide_picture{
                    .item{
                        img{
                            position: fixed;
                            width: 100%;
                        }
                    }
                }
                .text{
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                    top: 25%;
                    h2{
                        color: #F2655A;
                    }
                    h3 {
                        color: #fff;
                    }
                }
            }
            .content{
                gap: 20px;
                position: absolute;
                bottom: 0;
                z-index: 1;
                p{
                    color: #fff;
                    padding-left: 17%;
                }
                .small{
                    figure{
                        position: relative;
                        img{
                            position: absolute;
                            bottom: 0;;
                            right: 0;
                            width: 50%;
                            transform: translate(-25%,-25%);
                        }
                    }
                } 
            }
        }
    }
    #section-4{
        .introduce_site{
            .picture{
                position: relative;
                width: 100%;
                z-index: 1;
                img{
                    padding-top: 20%;
                }
                .logo{
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    transform: translate(-50%,-25%);
                }
            }
            .content{
                position: absolute;
                z-index: 1;
                top: 20%;
                left: 50%;
                .content1{
                    h2{
                        color: #F2655A;
                    }
                    h3{
                        color: #fff;
                    }
                }
                .content2{
                    p{
                        color: #fff;
                        padding: 45px 10px;
                    }
                }
                .content3{
                    .table{
                        td{
                            color: #fff;
                        }
                        tr{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    #section-5{
        .villa_site{
            .villa_picture{
                img{
                    position: absolute;
                    top: 10%;
                    right: 0;
                    height: 80vh;
                    transform: translate(-10%,0%);
                }
            }
            .menu{
                margin-top: 7%;
                margin-left: 5%;
                .menuvilla{
                    position: absolute;
                    border: 1px solid #FFFF;
                    cursor: pointer;
                    padding-top: 2%;
                    .selection{
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 4rem;
                        padding: 40px 0;
                        text-align: center;
                        .selection-info{
                            h3{
                               padding-bottom: 90%; 
                            }
                        }
                    }
                }
            }
        }
    }
    #section-6{
        .convinient_site{
            margin-top: 8vh;
            .picture{
                .img-fluid{
                    max-width: 100%;
                    height: 100%;
                }
            }
        }
        .menu-list{
            .list{
                display: flex;
                margin-top: 5px;
                margin-bottom: 1rem;
                .listmenu{
                    list-style: none;
                    padding-left: 0;
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        flex: 0 0 50%;
                        width: 50%;
                        display: flex;
                        padding-top: 0;
                        .num{
                            width: 20px;
                            height: 20px;
                            background-color: white;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            text-align: center;
                            border-radius: 50%;
                            position: relative;
                            margin: auto 0;
                            font-size: 9px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            align-items: center;
                            &::before{
                                position: absolute;
                                content: "";
                                width: 14px;
                                height: 14px;
                                background: #263A50;
                                -webkit-transform: translate(-50%, -50%) rotate(45deg);
                                transform: translate(-50%, -50%) rotate(45deg);
                                top: 50%;
                                left: 50%;
                            }
                            .center{
                                position: relative;
                                z-index: 1;
                                color: #fff;
                            }
                        }
                        a{
                            text-decoration: none;
                        }
                        a:link {
                            text-decoration: none;
                            }

                        a:visited {
                        text-decoration: none;
                        }

                        a:hover {
                        text-decoration: underline;
                        color: #F2655A;
                        }

                        a:active {
                        text-decoration: underline;
                        }
                        p{
                            margin: auto 10px;
                            color: #fff;
                        }
                    }
                }
            }
            .twopicture{
                position: relative;
                .after{
                    position: absolute;
                    top:-23px ;

                    right: -10px;
                }
                .before{
                    position: absolute;
                    top: -23px;
                    left: 0;
                }
            }
        }
    }
    #section-7{
        height: 100vh;
        .infor_site{
            margin-top: 4%;
            .right{
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 95%;
                    background: #fff;
                    right: -0.75rem;
                    top: 6rem;
                }
                .title{
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    background: white;
                    height: 1px;
                    bottom: -45%;
                    width: 50vw;
                    right: -0.75rem;
                    }
                }
                .info{
                    .region{
                        margin-top: 10%;
                        position: relative;
                        &::before{
                            position: absolute;
                            content: "";
                            background: white;
                            height: 1px;
                            bottom: -90%;
                            width: 50vw;
                            right: -0.75rem;
                        }
                        .nav{
                            display: flex;
                            gap: 4rem;
                        }
                        .nav-tabs{
                            border-bottom: #F2655A;
                            .nav-link{
                                color: #F2655A;
                                border-radius: 20px;
                                background-color: #263A50;
                                border: 1px solid #F2655A;
                            }
                        }
                    }
                }
            }
            
            .moreinfo{
                display: flex;
                gap: 5rem;
                margin-top: 30%;
                position: relative;
                .cenbsm{
                    display: flex;
                    flex-direction: column;
                    gap: 1 rem;
                    text-align: center;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .era{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    text-align: center;
                    img{
                        width: 50%;
                        height: auto;
                    }
                }
            }
            .title1{
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    background: white;
                    height: 1px;
                    bottom: -45%;
                    width: 50vw;
                    left: -0.75rem;
                }
            }
            .iff{
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    background: white;
                    height: 1px;
                    bottom: -30%;
                    width: 50vw;
                    left: -0.75rem;
                }
                .logoiff{
                    padding: 10% 0 3% 0;
                }
            }
            .logo-above{
                display: flex;
                justify-content: center;
                padding-top: 6%;
                .logo{
                    flex: 0 0 auto;
                    width: 33.33333333%;
                    text-align: center;
                }
            }
            .logo-below{
                display: flex;
                justify-content: center;
                padding-top: 10%;
                .logo{
                    flex: 0 0 auto;
                    width: 33.3333%;
                    text-align: center;
                }
            }
            hr{
                margin-top: 1%;
                opacity: 1;
                color: #fff;
            }
        }
    }
    #section-8{
        background: url('../images/LeMeridien_background.png');
        background-position: center;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        .Form-site{
            padding:0 12%;
            .row{
                padding: 0 5%;
            }
            .row{
                input{
                    border-radius: 12px;
                    border: 0.5px solid #000;
                }
            }
            .row{
                select{
                    border-radius: 12px;
                    border: 0.5px solid #000;
                }
            }
            .submit{
                padding-left: 40%;
                .row{
                    img{
                        height: 50px;
                    }
                }
            }
        }
    }
    #footer{
        height: 30vh;
        .logofooter{
            overflow: hidden;
            display: flex;
            justify-content: space-around;
            img{
                width: 430px;
                padding: 24px 0;
            }
        }
        .information{
            display: flex;
            flex-wrap: wrap;
            flex: 0 0 auto;
            width: 33.3333%;
            text-align: center;
            width: 100%;
            padding-bottom: 15px;
            img{
                height: auto;
            }
            p{
                color: #fff;

            }
            span{
                color: #fff;
            }
        }
        .copyright{
            overflow: hidden;
            height: 3vh;
            background: #F2655A;
            p{
                padding: 0% 35%;
                color: #263A50;
            }
        }
    }
}
.back{
    width: 50px;
    z-index: 10;
    position: fixed;
    bottom: 25px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.back.back-top-scroll {
  opacity: 1;
  visibility: visible;
  bottom: 45px;
  animation: goTop 2s ease 0s infinite;
  -webkit-animation: goTop 2s ease 0s infinite;
}

.back:focus {
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
}
